@types:registry=http://registry.npmjs.org
registry=http://localhost:4873/:_authToken="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ2ZXJkYWNjaW8iXSwibmFtZSI6InZlcmRhY2NpbyIsImdyb3VwcyI6WyJ2ZXJkYWNjaW8iLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJ2ZXJkYWNjaW8iXSwiaWF0IjoxNTYxMDI0NDg0LCJuYmYiOjE1NjEwMjQ0ODUsImV4cCI6MTU2NjIwODQ4NH0.OVdkA8mZ3rgp3k3wNqOv84Ymt0hr0yakOY2SgnsK2Ow"
#registry=http://registry.npmjs.org
progress=false
strict-ssl=false